<h1>Welcome to the Tech Blog</h1>

<div class="seperation"></div>

<div class="blog-posts">
    {{#each posts}}
        <div class="blog-post">
            <h2>{{title}}</h2>
            <p>By {{author}} on {{createdAt}}</p>
            <p>{{content}}</p>
            <a href="/posts/{{id}}">Read More</a>
            <a href="/posts/{{id}}#comments">Comments</a>

            <br>

            <form action="/posts/{{id}}?_method=DELETE" method="POST">
            <button type="submit" class="delete">Delete</button>
        </div>
    {{/each}}
</div>