    <h1>Welcome to the Tech Blog</h1>
    <div class="blog-posts">
        {{#each blogPosts}}
            <div class="blog-post">
                <h2>{{title}}</h2>
                <p>By {{author}} on {{date}}</p>
                <p>{{excerpt}}</p>
                <a href="/posts/{{id}}">Read More</a>
                <a href="/posts/{{id}}#comments">Comments</a>
            </div>
        {{/each}}
    </div>